@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff; /* Add a background color for better visibility */
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 4px; /* Rounded corners for a smoother look */
  font-size: 18px; /* Larger font size for better readability */
  padding: 10px;
  width: 50px; /* Adjust width to be larger */
  margin: 2px; /* Add margin between input boxes */
  text-align: center; /* Center-align text within the input box */
}

input[type='number'] {
  width: 60px; /* Slightly larger width for number inputs */
}

.btn {
  cursor: pointer;
  background-color: #24b9eb;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 4px; /* Rounded corners for buttons */
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.grid-row {
  display: flex;
  margin-bottom: 5px; /* Space between rows */
}

.grid-cell {
  margin: 0 2px; /* Space between cells */
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }

  input[type='text'],
  input[type='number'] {
    width: 40px; /* Adjust width for smaller screens */
  }
}
